.container {
  margin: 0 auto;
  padding: 20px;
}

.input_title {
  display: flex;
  justify-content: center;
  align-items: center;
}

.enter-title {
  padding: 15px 35px 15px 15px;
  border-radius: 10px;
  border: 1px solid #ccc;
}

.enter-title::placeholder {
  color: #999;
}

.posts {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 20px;
}